In [ ]:
2+3

5

In [ ]:
10-5

5

In [ ]:
121*22

2662

In [ ]:
12/2

6.0

In [ ]:
a=5
print(a)

5

In [ ]:
print("hello world")

hello world

In [ ]:
print('hello world')

hello world

In [ ]:
print("display the variable a",a)

display the variable a 5

In [ ]:
x=5
y=10
z=x+y
print(z)
print("addition of two numbers",z)
print("addition",x,"&",y,"sum is",z)

15
addition of two numbers 15
addition 5 & 10 sum is 15

In [ ]:
x=7
y=14
z=x*y
print(z)
print("multiplication of two numbers",z)
print("multiplication",x,"&",y,"sum is",z)

98
multiplication of two numbers 98
multiplication 7 & 14 sum is 98

In [ ]:
x=87
y=2
z=x/y
print(z)
print("div of two numbers",z)
print("div",x,"&",y,"answer is",z)

43.5
div of two numbers 43.5
div 87 & 2 sum is 43.5

In [ ]:
x=33
y=21
z=x-y
print(z)
print("sub of two numbers",z)
print("sub",x,"&",y,"answer is",z)

12
sub of two numbers 12
sub 33 & 21 answer is 12

In [ ]:
a="2+4"
print(a)

2+4

In [ ]:
a1="hello"
a2="world"
print(a1,a2)

hello world

In [ ]:
a=input("Enter The Name ")
print(a)

Enter The Name Anmol
Anmol

In [ ]:
a=int(input("enter the number"))
b=int(input("enter your age"))
print(a)
print(b)

enter the number 11
enter your age  3
11
3

In [ ]:
x,y=input("enter the values").split()
input("enter the no: of boys",x)
input("enter the no: of girls",y)

In [ ]:
print("helo")
print("world")
print("I am studying in BCA")

helo
world
I am studying in BCA

In [ ]:
a="hello world"
print(a[0:4])
print(a[2:7])
print(a[2::2])

hell
llo w
lowrd